# Data Cleaning Script
## Import Libraries

In [2]:
import pandas as pd

## Load the dataset

In [12]:
df = pd.read_csv("Data/OddsData.csv")
print(df.head)
print(df.shape)

<bound method NDFrame.head of             date  season team opponent  runs  oppRuns  moneyLine  runLine  \
0      3/22/2014    2014  LAD      ARI     3        1       -170     -1.5
1      3/22/2014    2014  ARI      LAD     1        3        150      1.5
2      3/23/2014    2014  LAD      ARI     7        5       -119     -1.5
3      3/23/2014    2014  ARI      LAD     5        7        109      1.5
4      3/30/2014    2014   SD      LAD     3        1        105      1.5
...          ...     ...  ...      ...   ...      ...        ...      ...
35803  10/3/2021    2021  CHC      STL     3        2        148      1.5
35804  10/3/2021    2021  NYY       TB     1        0       -124     -1.5
35805  10/3/2021    2021  CLE      TEX     6        0        102      1.5
35806  10/3/2021    2021  BAL      TOR     4       12        300      1.5
35807  10/3/2021    2021  BOS      WSH     7        5       -210     -1.5

       runLineOdds  total  overOdds  underOdds  oppMoneyLine  oppRunLine  \
0             -104    6.5      -120        100           150         1.5
1             -116    6.5      -120        100          -170        -1.5
2              140    7.5      -115       -105           109         1.5
3             -160    7.5      -115       -105          -119        -1.5
4             -170    6.5      -105       -115          -115        -1.5
...            ...    ...       ...        ...           ...         ...
35803         -140    8.5      -110       -110          -158        -1.5
35804          150    9.5       100       -120           114         1.5
35805         -200    8.0      -110       -110          -112        -1.5
35806          160   10.0      -105       -115          -350        -1.5
35807         -140    9.5       100       -120           190         1.5

       oppRunLineOdds  projectedRuns               parkName  totalRuns  runDif
0                -116           4.09  Sydney Cricket Ground          4       2
1                -104           2.60  Sydney Cricket Ground          4      -2
2                -160           4.08  Sydney Cricket Ground         12       2
3                 140           3.59  Sydney Cricket Ground         12      -2
4                 150           3.17             PETCO Park          4       2
...               ...            ...                    ...        ...     ...
35803             120           3.43          Busch Stadium          5       1
35804            -170           5.26         Yankee Stadium          1       1
35805             175           3.96       Globe Life Field          6       6
35806            -180           2.50          Rogers Centre         16      -8
35807             120           6.44         Nationals Park         12       2

[35808 rows x 19 columns]>
(35808, 19)

## Check for missing values and display summary statistics

In [5]:
# Check for missing values
print('Missing Values:')
print(df.isnull().sum(), '\n')

# Show summary statistics
print('Summary Statistics:')
print(df.describe())

Missing Values:
date              0
season            0
team              0
opponent          0
runs              0
oppRuns           0
moneyLine         0
runLine           0
runLineOdds       0
total             0
overOdds          0
underOdds         0
oppMoneyLine      0
oppRunLine        0
oppRunLineOdds    0
projectedRuns     0
parkName          0
totalRuns         0
runDif            0
dtype: int64

Summary Statistics:
             season          runs       oppRuns     moneyLine       runLine  \
count  35808.000000  35808.000000  35808.000000  35808.000000  35808.000000
mean    2017.286137      4.473442      4.473442    -15.441019      0.000000
std        2.262436      3.160868      3.160868    151.629655      1.500021
min     2014.000000      0.000000      0.000000   -550.000000     -1.500000
25%     2015.000000      2.000000      2.000000   -142.000000     -1.500000
50%     2017.000000      4.000000      4.000000   -105.000000      0.000000
75%     2019.000000      6.000000      6.000000    128.000000      1.500000
max     2021.000000     29.000000     29.000000    425.000000      1.500000

        runLineOdds         total      overOdds     underOdds  oppMoneyLine  \
count  35808.000000  35808.000000  35808.000000  35808.000000  35808.000000
mean     -20.607211      8.472771    -67.960232    -71.962802    -15.441019
std      147.435203      1.148945     87.340425     84.637942    151.629655
min     -270.000000      4.500000   -142.000000   -142.000000   -550.000000
25%     -155.000000      7.500000   -115.000000   -115.000000   -142.000000
50%     -110.000000      8.500000   -110.000000   -110.000000   -105.000000
75%      135.000000      9.000000   -105.000000   -105.000000    128.000000
max      235.000000     15.000000    122.000000    122.000000    425.000000

         oppRunLine  oppRunLineOdds  projectedRuns     totalRuns        runDif
count  35808.000000    35808.000000   35808.000000  35808.000000  35808.000000
mean       0.000000      -20.607211       4.338270      8.946883      0.000000
std        1.500021      147.435203       1.053863      4.509241      4.430697
min       -1.500000     -270.000000       1.210000      1.000000    -21.000000
25%       -1.500000     -155.000000       3.590000      6.000000     -3.000000
50%        0.000000     -110.000000       4.250000      8.000000      0.000000
75%        1.500000      135.000000       5.000000     12.000000      3.000000
max        1.500000      235.000000       9.450000     38.000000     21.000000

## Check for duplicate rows

In [6]:
# Find duplicate rows
duplicates = df[df.duplicated()]

# Print the number of duplicates
duplicate_count = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_count}")

Number of duplicate rows: 0

## Check data types

In [7]:
print(df.dtypes)

date               object
season              int64
team               object
opponent           object
runs                int64
oppRuns             int64
moneyLine           int64
runLine           float64
runLineOdds         int64
total             float64
overOdds            int64
underOdds           int64
oppMoneyLine        int64
oppRunLine        float64
oppRunLineOdds      int64
projectedRuns     float64
parkName           object
totalRuns           int64
runDif              int64
dtype: object

In [8]:
# Change date data type from object to datetime
df['date'] = pd.to_datetime(df['date'], format='%m/%d/%Y', errors='coerce')

# Check the date data type and show the head
print(df['date'].dtype)
print(df['date'].head())

datetime64[ns]
0   2014-03-22
1   2014-03-22
2   2014-03-23
3   2014-03-23
4   2014-03-30
Name: date, dtype: datetime64[ns]

## Create a cleaned copy of the data

In [ ]:
df_clean = df.copy()

In [13]:
print(df_clean.shape)

(35808, 19)

## Create the new cleaned file

In [11]:
df_clean.to_csv("Data/Cleaned_OddsData.csv", index=False)
print("Clean dataset saved to Data/Cleaned_OddsData.csv")

Clean dataset saved to Data/Cleaned_OddsData.csv